@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: white;
  font-family: 'Jura';
}

.head{
  font-family: 'Jura' sans-serif;
}